@import "tailwindcss";

:root {
  --primary: #F83600;
  --black: #000000;
  --dark-gray: #1D2127;
  --white: #FFFFFF;
}

@theme inline {
  --color-primary: var(--primary);
  --color-black: var(--black);
  --color-dark-gray: var(--dark-gray);
  --color-white: var(--white);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

body {
  background: var(--white);
  color: var(--dark-gray);
  font-family: var(--font-geist-sans), system-ui, -apple-system, sans-serif;
  font-synthesis-weight: none;
  text-rendering: optimizeLegibility;
}
